<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale= 1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <form method="post" action="http://ec2-3-14-86-69.us-east-2.compute.amazonaws.com/api/paytm/request" name="f1" id="form1">
            <input type="text" id="ORDER_ID" name="ORDER_ID" value ="qggsqpwqzzseahla" />
            <input type="text" id="INDUSTRY_TYPE_ID" name="INDUSTRY_TYPE_ID" value="Retail" />
            <input type="text" id="CUST_ID" name="CUST_ID" value="Priyanshu" />
            <input type="text" id="CHANNEL_ID" name= "CHANNEL_ID" value="WEB" />
            <input type="text" id="TXN_AMOUNT" name="TXN_AMOUNT"  value="100" />
            <input type="text" id="WEBSITE" name="WEBSITE" value="WEBSTAGING" />
            <input type="text" id="MID" name="MID" value="sxiGns08070969452709" />
            <input type="text" id="PAYTM_MERCHANT_KEY" name="PAYTM_MERCHANT_KEY" value="eAHX_%9kGenTjoCV" />
            <button type="submit ">Submit</button>
        </form>
    </body>
</html>